<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include layout %>
    <div class="container">
    </div>
        
        <section id="sectionimg">
            <div class="boximg">
                <br><br>
                <h1><font face="verdana" color="white"><b>Developer Profile.</b></font></h1>
               <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t1.0-9/p960x960/90022795_3578397208900795_8872628312925536256_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_eui2=AeEqoUFXG8DCbBfVD6wpit-qB21dRYuyyIMHbV1Fi7LIgyiPVuQ21SPOhfuAtlJyGas6jYvbf1fsGzcPvcRhw9zz&_nc_ohc=DvxxHa0Nud8AX9R-17Q&_nc_ht=scontent.fcnx2-1.fna&_nc_tp=6&oh=ddcf688a1a2bab3dcc26f8f773d54d41&oe=5EB6DAF6" alt="pic" height="250px" width="250px">
               <img src="    https://scontent.fcnx2-1.fna.fbcdn.net/v/t1.0-9/69905200_2430485503733178_4681130176405307392_n.jpg?_nc_cat=111&_nc_sid=85a577&_nc_eui2=AeE1IUGYNrfqgS-zKOJF2TXNlTiTJinE5AyVOJMmKcTkDCBXuYFtGAotDRmrV0U-69hlaaiCUa48SAJ1QV1LBGt_&_nc_ohc=qVyolsvvby8AX-g7TfH&_nc_ht=scontent.fcnx2-1.fna&oh=16efd394e373af2715b1f7000733cf4b&oe=5EB41E24" alt="pic" height="250px" width="250px">
                </div>
        </section>
        <section id="section1">
            <div class="box">
                <br><br>
                <h1><font face="verdana" color="black"><b>Name:Panupong Surname:Tubkerd.  CPECMU 610610604</b></font></h1>
                </div> 
        </section>
        <section id="section1">
            <div class="box">
                <br><br>
                <h1><font face="verdana" color="black"><b>Name:Worrapratnakorn Surname:Wongtanapattarapon.  CPECMU 610610610</b></font></h1>
                </div>
        </section>
       
        
        
    
    
</body>
</html>