<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include layout %>
    <div class="container">
        <div className="container mt-4 mb-5">
        <h2>Welcome to Blog</h2>
        </div>
        <a href="/blog/add" >Add blog</a>
    </div>
    
</body>
</html>
 <link rel="stylesheet" href="../public/stylesheets/style.css">