<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <!-- <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <h2>Prince</h2>
      <a href="/product">See Product</a></br>
      <a href="/blog">See Blog</a> -->
      </br></br>
    </div>
    <div class="title">
           
    <h1>FoodPenguin</h1>
    <h1>Since 2020</h1>
    <div class="contact">
    </br></br></br></br><br><br><br><br><br>
    <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t1.15752-9/92571344_248838922825401_8323764997536612352_n.jpg?_nc_cat=100&_nc_sid=b96e70&_nc_eui2=AeGO1uRCWpobGiWH527gef-i3d7MaL5DPtfd3sxovkM-166PKPWxmocOOcQP0GUiZwmNz5CVPwo-u2lVtf66-WRD&_nc_ohc=WoStTlnk5jgAX9WRdfz&_nc_ht=scontent.fcnx2-1.fna&oh=18ab0bdd39efe7a11e86763ad3d87f52&oe=5EB48352" alt="chiangmai" height="180px" width="180px" >
    <h2>Logo.inc</h2>
    </div>
</div>

<section id="section1">
  <div class="box">
      <h1><b>What is foodpenguin?</b></h1>
      <p>Foodpenguin is a brandnew food delivery company in Thailand,which available since April 2020
      </p>
  </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<br><br><br><br><br><br>

<section id="section4">
        <div class="box4">
            <h1><b>Available city.</b></h1>
            <div class="picture">
              <a href="/product">
              <img src="https://www.tica.or.th/assets/images/useful_info/showcasecing_thailand/chiangmai/showcasing_th_chiangmai_img_1a_m.jpg" alt="chiangmai" >
              </a>
            </div>
            <a href="/product">
         <center><p><font face="verdana" color="black">Chiangmai</font></p></center>
            </a>
            </div>
    </section>


  </body>
</html>
