<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include layout %>
    <div class="container">
        <br><br>
        <section id="sectionimg">
            <div class="boximg">
                <h1><font face="verdana" color="white"><b>Download Foodpenguin.</b></font></h1>
                <p><font face="verdana" color="white">why keeps starving...deliver your hot dish from your fav restaureant </font></p>
                just click => <button type="button" class="btn btn-success" id="download">Download</button>
                </div>
        </section>
<br><br>
        <center><h1>Select your favourite food</h1></center>
       <div class="border-img">
        <img src="https://www.chillpainai.com/src/wewakeup/chillwriter/uploads/2017-04-14%2019:21:45_Rock%20Me-21.JPG" alt="rockme" height="400px" width="500px" border="5">
       </div>
      
<h1>Cheeseburger with fries:300 Bath</h1>
    </div>
<br><br>
 <center><a href="/wait"><button type="button" class="btn btn-info" id="download">OrderNow</button></a></center>

 <section id="section4">
    <div class="box4">
        <h1><b>Enjoy your meal.</b></h1>  
        </div>

       
</section>

</body>
</html>