<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/wait.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include layout %>
    <div class="container">
    </div>
        
        <section id="sectionimg">
            <div class="boximg">
                <br><br>
                <h1><font face="verdana" color="white"><b>Waiting for rider</b></font></h1>
               <img src="https://storage.googleapis.com/support-forums-api/attachment/thread-13777314-2979993838040270360.jpg" alt="pic" height="250px" width="250px">
               
                </div>
        </section>
        <section id="section1">
            <div class="box2">
                <br><br>
                <h1><font face="verdana" color="black"><b>Time left:30 minutes</b></font></h1>
                <p><button type="button" class="btn btn-success">Chat</button></p>
                </div> 
                
                <center><button type="button" class="btn btn-danger">Cancel Order</button></center>
        </section>
        
       
        
        
    
    
</body>
</html>